:root {
  --bg-colour: #242249;
  --btn-colour: rgb(96, 163, 142);
  --yellow-colour: rgb(226, 170, 25);
  --white-colour: rgb(243, 240, 236);
  --pink-colour: rgb(230, 113, 110);
  --black-colour: rgb(0, 0, 0);
  --special-font: 'Indie Flower', cursive;
  --heading-font: 'Patrick Hand', cursive;
  --main-font: 'PT Mono', monospace;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-colour);
  color: var(--white-colour);
  font-family: var(--main-font);
}

header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--bg-colour);
}

header h1,
h2 {
  text-align: center;
  font-family: var(--heading-font);
}

.special {
  font-family: var(--special-font);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--pink-colour);
}

/* .w1 {
  font-family: var(--patrick-font);
}

.w2,
.t {
  font-family: var(--indie-font);
} */

main {
  min-height: 80vh;
  margin-top: 1rem;
  z-index: 100;
}

form {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

label {
  max-width: 100%;
  display: inline;
  float: left;
  text-align: left;
}

input,
select {
  margin-bottom: 0.5rem;
  max-width: 40%;
}

select {
  margin-left: 0.7rem;
}

form div {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  border: none;
  border-radius: 25px;
  height: 1.5rem;
  width: 5rem;
  margin: auto;
  margin-top: 0.5rem;
  background-color: var(--btn-colour);
  color: var(--black-colour);
  font-family: var(--main-font);
}

#template__container {
  margin-top: 2rem;
}

.box__card {
  background-color: var(--bg-colour);
  box-shadow: 2px 8px 5px var(--white-colour);
  border-radius: 25px;
}

.date__current {
  color: var(--yellow-colour);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

footer p {
  text-align: center;
}
